:root {
--font-sans-serif: 'Roboto', sans-serif;
--black: #000;
--white: #fff;
--lilac: #e8e8e8;
--silver-sand: #c2c2c2;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .component__code {
  border: 1px solid #ccc;
  background: #fff;
  margin: 0;
  position: relative;
}

.component__code:before {
  content: "CODE";
  display: block;
  padding: 0.25rem;
  line-height: 1;
  font-family: monospace;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: lightgray;
  color: var(--black);
}

  /**typography**/
.article-title, .component__name {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 50px;
    background-color: lightpink;
}

body {
    font-family: var(--font-sans-serif);
    font-size: 14.5px;
    font-weight: light;
    line-height: 1.7;
}
h2 {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 125px;
    font-stretch: expanded;
}
h3 {
    display: block;
    margin: 0;
    padding: 0 .3em ;
    line-height: 1.2;
    width: 400px;
    font-size: 40px;
    font-weight: 450;
}
h4 {
    margin: 0;
    padding: .5em;
    font-size: 20px;
    text-decoration: underline 1px;
}
a {
    color: var(--black);
}

img {
    max-width: 100%;
    display: block;
}
.component img {
    max-width: initial;
}
.component__img, .component__code {
    border: 1px solid #ccc;
}

  /**Nav-bars**/
li {
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
.watch {
    color: white;
    background-color: black;
    padding: 2px 7px;
}
form {
    font-size: 15px;
}
input {
    text-align: center;
    font-weight: lighter;
    padding: 7px;
}
.nav-bar, .nav-bar2, .nav-bar__socials {
    display: flex;
}
.nav-bar {
    font-size: 22px;
    gap: 35px;
    padding-left: 15px;
}
.nav-bar2, .nav-bar4, .nav-bar4-2  {
    font-size: 17px;
    font-weight: bold;
    gap: 15px;
    padding-left: 20px;
}
.nav-bar__socials {
    font-size: 22px;
    gap: 15px;
}
.socials {
    display: flex;
    align-items: center;
    padding-left: 32px;
}
.nav4-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(9, 200px)
}
.nav-bar4, .nav-bar4-2 {
    display: flex;
    gap: 30px;
}
.nav-bar4 {
    padding-top: 1em;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: -1;  
    margin-bottom: 0;
}
.nav-bar4-2 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: -1;
    padding-top: 0;
    margin-bottom: 0;
}

  /**cover-sec1**/
