<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>components | Dieline</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
</head>
<body>
    <h1>Web components go here</h1>
    <h2>Typography Defaults</h2>

    <article class="component">
            <h3 class="component__name">body</h3>
            <img src="img/homepage/body/page-section1-text.png" alt="text">
        <!--add img of body text with links
        quick note is that we want to resize the image to img source set 
        img srcset="img.png 2x"
        src="img.png" alt="body copy"-->
        
        <div class="component__code">
            code goes here <!--add same paragraph text from website here add links if need be-->
        </div>
    </article>
</body>
</html>