<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>components | Dieline</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="https://kit.fontawesome.com/54d0545597.js" crossorigin="anonymous"></script>
</head>
<body>
    <article class="component">
        <div class="component__name">Typography Defaults</div>
        <div class="component__name">body</div>
        <div class="component__img">
            <img src="img/homepage/body/page-section1-text.png" alt="text">
        </div>
        <!--to resize the image to img source set 
        img srcset="img.png 2x" src="img.png" alt="body copy"-->
        <div class="component__code">
            <p>Get Ready: DIELINE Awards 2023 begins Nov 15th.</p>
        </div>
    </article>
    <article class="component">
        <div class="component__name">headings (h1, h2, ....)</div>
        <div class="component__img">
            <img src="img/homepage/header/page-header__wordmark.png" alt="h2">
            <img src="img/homepage/body/page-section1-header__linked.png" alt="h3">
            <img src="img/homepage/body/page-section1-subheader__linked.png" alt="h4">
        </div>
        <div class="component__code">
            <h2>DIELINE</h2>
            <h3>Get Ready: DIELINE Awards 2023 Begins Nov 15th</h3>
            <h4><a href="#!">AWARD MARKETING</a></h4>
        </div>
    </article>
    <article class="component">
        <div class="component__name">header and footer navigation bars</div>
        <div class="component__name">homepage</div>
        <div class="component__img">
            <img src="img/homepage/header/page-header__navbar1.png" alt="nav-1">
            <img src="img/homepage/header/page-header__navbar2.png" alt="nav-2">
        </div>
        <div class="component__code">
            <nav class="nav-container">
                <ul class="nav-bar">
                    <li class="nav-item1"><a href="#!">Home</a></li>
                    <li class="nav-item2"><a href="#!">Popular</a></li>
                    <li class="nav-item3"><a href="#!">Jobs</a></li>
                    <li class="nav-item4"><a href="#!">Award Winners</a></li>
                    <li class="nav-item5"><a class="watch" href="#!">Watch</a></li>
                </ul>
            </nav>
            <nav class="nav2-container">
                <ul class="nav-bar2">
                    <li class="nav2-item1"><a href="#!">AWARDS</a></li>
                    <li class="nav2-item2"><a href="#!">CONFERENCE</a></li>
                    <li class="nav2-item3"><a href="#!">ABOUT</a></li>
                    <li class="nav2-item4"><a href="#!">ADVERTISE</a></li>
                    <li class="nav2-item5"><a href="#!">SUBMIT</a></li>
                </ul>
            </nav>
            <div class="socials">
                <form action="css/my-form.php" method="POST">
                    <input type="text" id="email" name="email" value="" placeholder="Suscribe to Newsletter">
                </form>
                <nav class="nav3-container">
                    <ul class="nav-bar__socials">
                        <li class="nav-bar__item-fb"><i class="icon fa-brands fa-facebook"></i></li>
                        <li class="nav-bar__item-twitter"><i class="icon fa-brands fa-twitter"></i></li>
                        <li class="nav-bar__item--active-insta"><i class="icon fa-brands fa-instagram"></i></li>
                        <li class="nav-bar__item-twitter"><i class="icon fa-brands fa-linkedin"></i></li>
                        <li class="nav-bar__item-youtube"><i class="icon fa-brands fa-youtube"></i></li>
                        <li class="nav-bar__item-twitter"><i class="icon fa-brands fa-pinterest"></i></li>
                        <li class="nav-bar__item-twitter"><i class="icon fa-brands fa-tiktok"></i></li>
                    </ul>
                </nav>
            </div>
            <div class="component__name">Award page</div>
            <div class="component__img">
                <img src="img/Awards/header/page-header__navbar.png" alt="awards-navbar">
            </div>
            <div class="component__code">
                <div class="nav4">
                    <nav class="nav4-container">
                        <ul class="nav-bar4">
                            <li class="nav2-item1"><a href="#!">HOME</a></li>
                            <li class="nav2-item2"><a href="#!">ABOUT</a></li>
                            <li class="nav2-item3"><a href="#!">CATEGORIES</a></li>
                            <li class="nav2-item4"><a href="#!">JURY</a></li>
                            <li class="nav2-item5"><a href="#!">RATES &amp; DEADLINES</a></li>
                            <li class="nav2-item6"><a href="#!">TROPHY</a></li>
                            <li class="nav2-item7"><a href="#!">PRIZES</a></li>
                            <li class="nav2-item8"><a href="#!">EXHIBITS</a></li>
                            <li class="nav2-item9"><a href="#!">FAQS</a></li>
                            <li class="nav2-item10"><a href="#!">RULES</a></li>
                            <li class="nav2-item11"><a href="#!">PAST WINNERS</a></li>
                        </ul>
                        <ul class="nav-bar4-2">
                            <li class="nav2-item12"><a href="#!">NEENAH PAPER AWARD</a></li>
                            <li class="nav2-item13"><a href="#!">DESIGNALYTICS EFFECTIVENESS AWARD</a></li>
                            <li class="nav2-item14"><a href="#!">PLASTIC FREE AWARD</a></li>
                            <li class="nav2-item15"><a href="#!">MANTER LABEL AWARD</a></li>
                            <li class="nav2-item16"><a href="#!">CONTACT</a></li>
                            <li class="nav2-item17"><a href="#!">TROPHY SHOP</a></li>
                        </ul>
                    </nav>
                </div>
            </div>        
        </div>
    </article>
    <article class="component">
        <div class="component__name">Cover section</div>
        <div class="component__name">homepage</div>
        <div class="component__img">
            <img src="img/homepage/body/page-section1.png" height="315" width="708" alt="cover-selection">
        </div>
        <div class="component__code">
            <div class="cover-sec1">    
                <a href="#!"><img class="cover1-img" src="img/homepage/body/page-section1-pic.png" height="250" width="460" alt="cover-sec1-pic"></a>
                <div class="cover-sec1-text">
                    <h3 class="get-readyh3"><a href="#!">Get Ready: DIELINE Awards 2023 Begins Nov 15th</a></h3>
                    <div class="cover-sec1__mid">
                        <h4 class="award-tagh4"><a href="#!">AWARD MARKETING</a></h4>
                        <div class="date">11/09/2022</div>
                    </div>  
                    <p class="cover-sec1p">Get Ready: DIELINE Awards 2023 begins Nov 15th.</p>
                </div>
            </div>
        </div>
    </article>
    <article class="component">
        <div class="component__img">
            <img src="img/homepage/body/page-section2.png" height="500" width="1000" alt="table">
        </div>
        <div class="component__code">
            <h2 class="jobs-h2">JOBS</h2>
            <table>
                <caption></caption>
                    <tr>
                        <th scope="col">COMPANY</th>
                        <th class="table-header" scope="col">ROLE</th>
                        <th scope="col">CITY</th>
                        <th scope="col">POST DATE</th>
                    </tr>
                    <tr>
                        <th class="logo-header" scope="row"><img src="img/homepage/body/jobs-1.png" height="80" width="80" alt="OXO-logo"><div class="logo-text">OXO</div></th>
                        <td>Package Designer, Freelance</td>
                        <td>New York, NY</td>
                        <td>08/26/2022</td>
                    </tr>
                    <tr>
                        <th class="logo-header" scope="row"><img src="img/homepage/body/jobs-2.png" height="80" width="80" alt="Procter-logo"><div class="logo-text">Procter and Gamble</div></th>
                        <td>Innovation design intern</td>
                        <td>Grimbergen, Flemish Brabant</td>
                        <td>09/28/2022</td>
                    </tr>
                    <tr>
                        <th class="logo-header" scope="row"><img src="img/homepage/body/jobs-3.png" height="80" width="80" alt="Guacamole-logo"><div class="logo-text">Guacamole Airplane</div></th>
                        <td>Project Manager</td>
                        <td>Sausalito, CA</td>
                        <td>01/12/2022</td>
                    </tr>
            </table>
            <div class="more-jobs">
                <a href="#!">
                    More Jobs
                    <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </article>
    <article class="component">
            <img class="img__scroll" src="img/homepage/body/Page-section3__scroll.png" height="315" width="708" alt="cover-selection">
        <h6 class="sponsor">DIELINE IS MADE POSSIBLE BY OUR SPONORS</h6>
        <div class="component__gallery">
            <div class="cover-sec3"> 
                <div class="cover3-img__container">   
                    <a class="cover-sec3__a" href="#!"><img class="cover3-img" src="img/homepage/body/page-section1-pic.png" height="250" width="460" alt="cover-sec3-pic"></a>
                </div>
                <div class="cover-sec3__mid">
                    <div class="cover-sec3__mid-tag">
                        <h4 class="cover-sec3__award-tagh4"><a href="#!">AWARD MARKETING</a></h4>
                        <div class="cover-sec3__date">11/09/2022</div>
                    </div>
                    <h3 class="cover-sec3__readyh3"><a href="#!">Get Ready: DIELINE Awards 2023 Begins Nov 15th</a></h3>
                </div> 
            </div>
            <div class="cover-sec3"> 
                <div class="cover3-img__container">   
                    <a class="cover-sec3__a" href="#!"><img class="cover3-img" src="img/homepage/body/page-section1-pic.png" height="250" width="460" alt="cover-sec3-pic"></a>
                </div>
                <div class="cover-sec3__mid">
                    <div class="cover-sec3__mid-tag">
                        <h4 class="cover-sec3__award-tagh4"><a href="#!">AWARD MARKETING</a></h4>
                        <div class="cover-sec3__date">11/09/2022</div>
                    </div>
                    <h3 class="cover-sec3__readyh3"><a href="#!">Get Ready: DIELINE Awards 2023 Begins Nov 15th</a></h3>
                </div> 
            </div>
            <div class="cover-sec3"> 
                <div class="cover3-img__container">   
                    <a class="cover-sec3__a" href="#!"><img class="cover3-img" src="img/homepage/body/page-section1-pic.png" height="250" width="460" alt="cover-sec3-pic"></a>
                </div>
                <div class="cover-sec3__mid">
                    <div class="cover-sec3__mid-tag">
                        <h4 class="cover-sec3__award-tagh4"><a href="#!">AWARD MARKETING</a></h4>
                        <div class="cover-sec3__date">11/09/2022</div>
                    </div>
                    <h3 class="cover-sec3__readyh3"><a href="#!">Get Ready: DIELINE Awards 2023 Begins Nov 15th</a></h3>
                </div> 
            </div>
            <div class="cover-sec3"> 
                <div class="cover3-img__container">   
                    <a class="cover-sec3__a" href="#!"><img class="cover3-img" src="img/homepage/body/page-section1-pic.png" height="250" width="460" alt="cover-sec3-pic"></a>
                </div>
                <div class="cover-sec3__mid">
                    <div class="cover-sec3__mid-tag">
                        <h4 class="cover-sec3__award-tagh4"><a href="#!">AWARD MARKETING</a></h4>
                        <div class="cover-sec3__date">11/09/2022</div>
                    </div>
                    <h3 class="cover-sec3__readyh3"><a href="#!">Get Ready: DIELINE Awards 2023 Begins Nov 15th</a></h3>
                </div> 
            </div>
            <div class="cover-sec3"> 
                <div class="cover3-img__container">   
                    <a class="cover-sec3__a" href="#!"><img class="cover3-img" src="img/homepage/body/page-section1-pic.png" height="250" width="460" alt="cover-sec3-pic"></a>
                </div>
                <div class="cover-sec3__mid">
                    <div class="cover-sec3__mid-tag">
                        <h4 class="cover-sec3__award-tagh4"><a href="#!">AWARD MARKETING</a></h4>
                        <div class="cover-sec3__date">11/09/2022</div>
                    </div>
                    <h3 class="cover-sec3__readyh3"><a href="#!">Get Ready: DIELINE Awards 2023 Begins Nov 15th</a></h3>
                </div> 
            </div>
            <div class="cover-sec3"> 
                <div class="cover3-img__container">
                    <a class="cover-sec3__a" href="#!"><img class="cover3-img" src="img/homepage/body/page-section1-pic.png" height="250" width="460" alt="cover-sec3-pic"></a>
                </div>
                <div class="cover-sec3__mid">
                    <div class="cover-sec3__mid-tag">
                        <h4 class="cover-sec3__award-tagh4"><a href="#!">AWARD MARKETING</a></h4>
                        <div class="cover-sec3__date">11/09/2022</div>
                    </div>
                    <h3 class="cover-sec3__readyh3"><a href="#!">Get Ready: DIELINE Awards 2023 Begins Nov 15th</a></h3>
                </div> 
            </div>
        </div>
    </article>
    <article class="component">
        <div class="component__name">Award page</div>
        <div class="component__img">
            <img src="img/Awards/body/page-section1.png" height="315" width="708" alt="cover-selection">
        </div>
        <div class="component__code">
            <div class="award-coversec1">
                <div class="award-coversec1-img__container">
                    <img src="img/Awards/body/image-asset.png" height="350" width="675" alt="cropped-background-img">
                </div>
                <div class="award-coversec1-text__container">
                    <h2 class="award-coversec1-h2">DIELINE AWARDS 2023 BEGIND NOV 15TH</h2>
                    <button>VIEW THE 2022 DIELINE AWARDS WINNERS</button>
                </div>
            </div>
        </div>
    </article>
    <article class="component">
        <div class="component__img">
            <img class="component-about__img" src="img/Awards/body/page-section2.png" height="315" width="708" alt="cover-selection">
        </div>
        <div class="component__code">
            <div class="award-img">
                <img class="award-img__large" src="img/Awards/body/image-asset.png" height="300" width="450" alt="img-about">
                <div class="award-imgs__small">
                    <img src="img/Awards/body/award-img2.png" height="130" width="225" alt="img-categories">
                    <img class="award-img3" src="img/Awards/body/award-img3.png" height="130" width="225" alt="img-ratesanddeadlines">
                </div>
                <div class="award-coversec2-img-text">
                    <h2 class="img-text1">ABOUT</h2> 
                    <h2 class="img-text2">CATEGORIES</h2>
                    <h2 class="img-text3">RATES &AMP; DEADLINES</h2>
                </div>    
            </div>
        </div>
    </article>     
</body>
</html>