<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>components | Dieline</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
</head>
<body>
    <h1>Web components go here</h1>
    <h2>Typography Defaults</h2>

    <article class="component">
            <h3 class="component__name">body</h3>
            <img src="img/homepage/body/page-section1-text.png" alt="text">
        <!--to resize the image to img source set 
        img srcset="img.png 2x" src="img.png" alt="body copy"-->
        <div class="component__code">
            <p>Get Ready: DIELINE Awards 2023 begins Nov 15th</p>
        </div>
    </article>
</body>
</html>